<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Bluefish.Blazor.Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="button" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Button
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="label" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Label
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="progressbar" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Progress Bar
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="table" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Table
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
