.form-check-input {
    background-color: var(--bg-color);
    border-color: var(--border-color);
}

.form-check-input:checked {
    background-color: var(--bg-color-accent);
}

.form-check-input:focus {
    border-color: var(--border-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--bg-color-accent-rgb), .25);
}
