<template id="my-dropzone-template">
    <div class="dz-preview small">
        <div class="dz-bar d-flex justify-content-between">
            <span class="dz-name" data-dz-name></span>
            <div>
                <span data-dz-errormessage></span>
                <div class="dz-success-mark success-mark">
                    <i class="far fa-check-circle"></i>
                </div>
                <div class="dz-error-mark error-mark">
                    <i class="far fa-times-circle"></i>
                </div>
            </div>
        </div>
        <div class="dz-progress" style="">
            <div class="dz-upload" style="width: 0%" data-dz-uploadprogress></div>
        </div>
    </div>
</template>


<div class="dropzone dz-clickable @CssClass" id="my-dropzone">
    <div class="dz-message">
        <span class="">Drag and drop files here, or click to browse</span>
    </div>
</div>
<div class="dropzone-toolbar">
    <BfButton CssClass="text-danger mt-1"
              Click="OnClear"
              IconCssClass="fas fa-times"
              Text="Clear" />
</div>