.edit-field2 {
    display: inline-block;
    border: 1px solid transparent;
    width: 100%;
}

    .edit-field2 input {
        background-color: inherit;
        border: none;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        outline: none;
        padding: 0px;
        width: 100%;
    }

        .edit-field2 input:focus {
            /*background-color: whitesmoke;*/
        }

    .edit-field2 span {
        min-height: 49px;
    }

    .edit-field2.editable {
        cursor: pointer;
    }

        .edit-field2.editable:hover {
            /*background-color: whitesmoke;*/
            border: 1px solid silver;
            padding: 0px;
        }
