.dropdown-menu {
    max-width: 100vw;
}

.filter-panel {
    min-width: 600px;
    min-height: 100px;
}

.filter-row {
    align-items: center;
    display: flex;
}

.filter-name {
    font-weight: bold;
}

.filter-value {
    font-weight: bold;
}

.title-row {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    justify-content: space-between;
}

table {
    color: var(--fg-color);
}

td {
    text-align: center;
    vertical-align: middle;
}
