@inherits BfComponentBase

<div @attributes="RootAttributes">
    @if (!string.IsNullOrWhiteSpace(IconCssClass))
    {
        <i class="@IconCssClass" @onclick="Click" />
    }
    @if (!string.IsNullOrWhiteSpace(Text))
    {
        <span class="@(string.IsNullOrWhiteSpace(IconCssClass)? "" : "ms-1") @TextCssClass"
              @onclick="Click">@Text</span>
    }
</div>