.modal-content {
    background-color: var(--bg-color-dark);
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 8px #ffffff77;
    color: var(--fg-color);
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
}
