<div class="bf-panel @(ShowBorder ? "panel-border" : "")">
    <div class="panel-header">
        <span class="panel-title">@Title</span>
        <BfToolBar>
            @PanelToolbar
        </BfToolBar>
    </div>
    <hr />
    @PanelBody
</div>