<div class="bf-panel @(ShowBorder ? "panel-border" : "")">
    <div class="panel-header">
        <span class="panel-title">@Title</span>
        <BfToolbar>
            @PanelToolbar
        </BfToolbar>
    </div>
    <hr />
    @PanelBody
</div>