<div class="bf-progressbar">
    <div class="bar @CssClass"
         style="height: @Height; width:@(GetPercentage())%">
        @if (BarContent != null)
        {
            @BarContent(this)
        }
    </div>
</div>