<div class="bf-progressbar @CssClass">
    <div class="bar"
         style="height: @Height; width:@(GetPercentage())%">
        @if (BarContent != null)
        {
            @BarContent(this)
        }
    </div>
</div>