input {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: inherit;
    width: 100%;
}

    input:focus {
        outline: 1px dashed;
    }

.table-cell {
    width: 100%;
}


    .table-cell.editable {
        cursor: text;
    }
