<div class="bf-tab-panel @CssClass">

    <div class="btn-group d-block" role="group">
        @foreach (BfTabPage tabPage in Pages)
        {
            <BfButton Click="@(() => ActivatePage(tabPage))"
                  CssClass="@GetButtonClass(tabPage)"
                  Size="Size">
                @tabPage.Text
            </BfButton>
        }
    </div>

    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
