input {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: inherit;
    width: 100%;
}

    input:focus {
        outline: 1px dashed;
    }


.table-cell.editable span {
    cursor: text;
}
