.table {
    color: var(--fg-color);
    margin-bottom: 0px;
    border-color: var(--border-color);
}

    .table thead th {
        border-bottom: 2px solid var(--border-color) !important;
    }

    .table th, .table td {
        padding: 0.3rem;
        border-top: 1px solid var(--border-color);
    }

.table-spinner {
    display: flex;
    justify-content: center;
    padding: 20px;
}

tr.selected[b-3tr2p629jn] {
    color: var(--fg-color-accent) !important;
    background-color: var(--bg-color-accent) !important;
}

.table-striped tbody tr.selected:nth-of-type(odd) [b-3tr2p629jn] {
    color: var(--fg-color-accent) !important;
    background-color: var(--bg-color-accent) !important;
}

.table-striped tbody tr:nth-of-type(odd) [b-3tr2p629jn] {
    background-color: var(--bg-color-dark);
    color: var(--fg-color);
}

.bottom-pager {
    border-top: solid 2px var(--border-color);
}

.table th {
    border-top: 0px;
}
