<div class="bf-tree">
    <CascadingValue Value="(BfTree)this">
        @if (ShowRoot)
        {
            <BfTreeNode Node="Root" />
        }
        else
        {
            foreach (var node in Root.ChildNodes)
            {
                <BfTreeNode Node="node" />
            }
        }
    </CascadingValue>
</div>