<div class="example">
    <h5 class="title">@Title</h5>
    <div class="description">
        @Description
    </div>
    <div class="code">
        <code>@Code</code>
    </div>
    <div class="demo">
        @Demo
    </div>
</div>