.example {
    margin-bottom: 40px;
}

.code {
    /*background-color: white;*/
    /*border: 1px solid silver;*/
    padding: 10px;
}

::deep .code pre {
    margin: 0px;
}

.demo {
    border: 1px solid silver;
    padding: 10px;
    margin-top: 10px;
}