@page "/all"

<h1>BfButton</h1>

<Example Title="All Components">
    <Description>
        <p>Example of all components.</p>
    </Description>
    <Demo>
        <div>
            <BfCheckBox IconCssClass="fas fa-edit"
                        Enabled="true"
                        Text="Checkbox" />
        </div>
    </Demo>
</Example>
