@page "/button"

<h1>BfButton</h1>

<Example Title="Simple Usage">
    <Description>
        <p>Example of a basic button.</p>
    </Description>
    <Code>
<pre>
&lt;BfButton&gt;
   Button 1
&lt;/BfButton&gt;
</pre>
    </Code>
    <Demo>
        <BfButton>Button 1</BfButton>
    </Demo>
</Example>

<Example Title="Button Styling">
    <Description>
        <p>Passing in a 'class' attribute overrides default styling.</p>
    </Description>
    <Code>
        <pre>
        &lt;BfButton class="btn btn-outline-info btn-lg"&gt;Button 2&lt;/BfButton&gt;
        </pre>
    </Code>
    <Demo>
        <BfButton class="btn btn-outline-info btn-lg">Button 2</BfButton>
    </Demo>
</Example>

<Example Title="Helper Parameters">
    <Description>
        <p>Using helper parameters to create standard buttons across an application.</p>
    </Description>
    <Code>
        <pre>
&lt;BfButton IconCssClass="fa fa-user"
          IsPrimary="true"
          Text="Button 3" /&gt;
</pre>
    </Code>
    <Demo>
        <BfButton IconCssClass="fa fa-user"
                  IsPrimary="true"
                  Text="Button 3" />

    </Demo>
</Example>

<Example Title="Split Button">
    <Description>
        <p>A basic Split Button</p>
    </Description>
    <Code>
        <pre>
&lt;BfSplitButton IconCssClass="fa fa-tools"
          IsPrimary="true"
          Text="Create" /&gt;
</pre>
    </Code>
    <Demo>
        <BfSplitButton IconCssClass="fa fa-tools"
                       IsPrimary="false"
                       Options="@(new Option[] { new Option("One", "1", "Value 1"), new Option("Two","2", "Value 2") })"
                       Text="Create" />

    </Demo>
</Example>