@page "/label"

<h1>BfLabel</h1>

<p>The Label component displays an (optional) icon next to (optional) text.</p>

<Example Title="Simple Usage">
    <Description>
        <p>Example of a basic label.</p>
    </Description>
    <Code>
        <pre>
    &lt;BfLabel IconCssClass="fas fa-user" Text="Fred Smith" /&gt;
        </pre>
    </Code>
    <Demo>
        <BfLabel IconCssClass="fas fa-user"
                 Text="Fred Smith" />
    </Demo>
</Example>