@page "/progressbar"

<h1>BfProgressBar</h1>

<p>The BfProgressBar component displays a current value against a total.</p>

<Example Title="Display a percentage">
    <Description>
        <p>The default Total is 100, so is useful when showing percentage values.</p>
    </Description>
    <Code>
        <pre>
    &lt;BfProgressBar Value="75" /&gt;
        </pre>
    </Code>
    <Demo>
        <BfProgressBar Value="75" />
    </Demo>
</Example>