<button @attributes="GetAttributes()"
        @onclick="Click">
    @if (ChildContent is null)
    {
        <BfLabel IconCssClass="@IconCssClass"
                 Text="@Text"
                 TextCssClass="@TextCssClass" />
    }
    else
    {
        @ChildContent
    }
</button>