<div class="sc-title-bar d-flex flex-wrap align-items-center justify-content-between pt-2 py-sm-0">
    <div class="header ms-3">
        <i class="@IconCssClass"></i>
        <span class="ms-1 mb-0 h3 text-nowrap @TitleCssClass">@Title</span>
    </div>
    <div class="me-3 my-2">
        @ChildContent
    </div>
</div>
